@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@400;500;700&family=Roboto:wght@700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

body {
  background-color: #121214;
  background-image: url(../assets/bg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body *{
    font-family: 'Roboto', sans-serif;
}

#app {
  width: fit-content; /* permite que se defina uma largura máxima permitida para o tamanho de um elemento, ou seja, vai se ajustando a largura da borda com o conteúdo.*/
  margin: 52px auto;
}

header {
  margin-bottom: 40px;
  text-align: center;
}

.cards{
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.card {
  padding: 23px 23px;
  text-align: center;
  background-color: #1d1c19;
  border-bottom: 2px solid #f7dd43;
  border-radius: 0.8rem;
}

.card h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px 16px;
  border: 1px solid #f7dd43;
  border-radius: 0.8rem;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;
  color: #f7dd43;
  font-size: 1rem;
}

.card h2 span{
    color: #e1e1e6;
    font-size: 12px;
    text-transform: uppercase;
}

.card ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 16rem;
}

.card ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25px;
}

.card ul li + li {
    padding-top: 12px;
    border-top: 1px solid #f7dd43;
}

.card ul li img{
  width: 35px;
  height: 35px;
}

.card ul li strong{
    font-weight: 900;
    font-size: 26px;
    line-height: 125%;
    text-align: center;
    color: #e1e1e6;
}

.card:hover,
.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover{
  transform: scale(1.1);
}

.card,
.card h2,
.card ul li strong,
.card ul li img{
  transition: transform .3s;
}

.card{
  opacity: 0;
  animation: appear .2s forwards;
}


@media screen and (min-width: 380px) {
  .cards {
      grid-template-columns: 1fr ;
  }
}

@media screen and (min-width: 576px) {
  .cards {
      grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .cards {
      grid-template-columns: 1fr 1fr 1fr;
  }
}



@keyframes appear{
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}